@charset "UTF-8";
/*------------------------------------*\
	STYLE.CSS
\*------------------------------------*/

/**
 * Setup
 */
@import "defaults";
@import "inuit.css/inuit";

/**
 * Bits
 */
@import "bits/base";
@import "bits/button";
@import "bits/code";
@import "bits/container";
@import "bits/link";
@import "bits/header";
@import "bits/footer";
@import "bits/post";

/**
 * Modules
 */
@import "modules/main-nav";

//temp
@import "bits/ad";

.placeholder {
	background-color: #ddd;
	display: inline-block;
	height: 60px;
	width: 60px;
}


