/*------------------------------------*\
	AD
\*------------------------------------*/

/*
*	Temp styles for the ad block
*/
.ad-block {
	background-color: #ddd;
	max-width: 480px;
	margin: auto;
}
	.ad-block__banner {
		background-color: #64ACC8;
		width: 130px;
		height: 100px;
	}