/*------------------------------------*\
	BASE
\*------------------------------------*/

body {
	background-color: $color-body-bg;
	font-family: $brand-face;
	font-weight: 400;
	color: $color-body-copy;
	height: 100%;
}
a {
	color: $color-beta; 
	&:hover {
		@include subtle-hover;
		color: $color-delta;
	}
}
