/*------------------------------------*\
	BASE
\*------------------------------------*/
body {
	background-color: $color-light;
	font-family: $brand-face;
	font-weight: 400;
	color: $color-dark;
	height: 100%;
}
h2 {
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: $half-spacing-unit;
	@include media-query(lap) {
		font-size: 24px;
	}
	@include media-query(desk) {
		font-size: 36px;
	}
	@include media-query(desk-wide) {
		font-size: 44px;
		
	}
}
a {
	color: $color-highlight; 
	&:hover {
		@include subtle-hover;
		color: darken($color-highlight, 10%);
	}
}
i,p {
	font-family: $brand-serif;
}
p {
	text-align: left;
	font-size: $h5-size;
	@include media-query(lap-and-up) {
		font-size: $h4-size;
	}
	@include media-query(desk-wide) {
		font-size: $h4-size;
	}
}

time {
	display: block;
	margin-bottom: $half-spacing-unit;
}
