/*------------------------------------*\
	BASE
\*------------------------------------*/

body {
	background-color: $color-theta;
	font-family: $brand-face;
	font-weight: 400;
	color: $color-beta;
	height: 100%;
}
a {
	color: $color-beta; 
	&:hover {
		@include subtle-hover;
		color: $color-delta;
	}
}
.container {
	max-width: 1080px;
	margin: auto;
}