/*------------------------------------*\
	BUTTON
\*------------------------------------*/

.btn {
	border-radius: 50px;
	border: 3px solid;
	font-weight: 900;
	text-transform: uppercase;
	overflow: hidden;
	position: relative;
}

@include button-hover('primary', $color-gamma, $color-alpha);
@include button-hover('secondary', $color-beta, $color-gamma);

@include button-hover('highlight-alpha', $color-delta, darken($color-delta, 20%));
@include button-hover('highlight-beta', $color-epsilon, darken($color-epsilon, 20%));
@include button-hover('highlight-gamma', $color-zeta, darken($color-zeta, 20%));
@include button-hover('highlight-delta', $color-eta, darken($color-eta, 20%));

.btn-arrow--right {
	padding-right: 3em;
    padding-left: 3em;
	-webkit-transition: all 0.5s ease;
	&:after {
		content: '→';
		position: absolute;
		left: 120%;
		top: 0;
		-webkit-transition: all 0.5s ease;
	}
	&:hover {
		&:after {
			left: 75%;
		}
	}
}

.btn--social {
	@extend .btn--primary;
	font-size: $milli-size;
	height: 34px;
	margin: 0 $half-spacing-unit/2;
	line-height: 30px;
	padding: 0;
	width: 34px;
}