/*------------------------------------*\
	HEADER
\*------------------------------------*/

.page-header {
	background: linear-gradient(top, $color-header-start 0%, $color-header-finish 100%);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
	margin-bottom: $base-spacing-unit;
	padding: 0;
}
.logo {
	font-size: $h6-size;
	font-weight: 300;
	margin: 0;
	> a {
		color: $color-body-copy;
			&:hover {
				color: $color-delta;
			}
		margin-left: $half-spacing-unit;
		text-decoration: none;
	}
	span {
		display: none;
		@include media-query(lap-and-up) {
			display: inline;
		}
	}
	@include media-query(lap-and-up) {
		font-size: $h4-size;
	}
}
.main-nav {
	margin: 0;
	.main-nav__link {
		color: $color-link;
		font-size: $h6-size;
		font-weight: 300;
		padding: 0;
		text-align: center;
		text-decoration: none;
	}
}