/*------------------------------------*\
	HEADER
\*------------------------------------*/

.page-header {
	margin-bottom: $base-spacing-unit;
	padding: 0;
}
.logo {
	color: $color-dark;
	font-family: 'Bree Serif';
	font-size: $h1-size;
	margin: 0;
	text-align: center;
	text-decoration: none;
	> a {
		
		
		margin-left: $half-spacing-unit;
		text-decoration: none;
	}
	p {
		color: $color-subtle;
		font-family: 'Open Sans';
		font-size: 13px;
	}
	span {
		display: none;
		@include media-query(lap-and-up) {
			display: inline;
		}
	}
	@include media-query(lap-and-up) {
		font-size: $h4-size;
	}
}
.main-nav {
	margin: 0;
	.main-nav__link {
		color: $color-dark;
		font-size: $h6-size;
		font-weight: 300;
		padding: 0;
		text-align: center;
		text-decoration: none;
	}
}