/*------------------------------------*\
	HEADER
\*------------------------------------*/

.page-header {
	margin: $base-spacing-unit*2 0 $base-spacing-unit*3;
	padding: 0;
	position: relative;
	text-align: center;
	z-index: 5;
}
.logo {
	display: inline-block;
	color: $color-dark;
	font-family: $brand-serif;
	line-height: 1;
	margin-bottom: $half-spacing-unit/2;
	text-align: center;
	text-decoration: none;
	padding: 0;
	position: relative;
	z-index: 10;
	h1 {
		font-size: $mega-size;
		line-height: 1;
	}
	h6 {
		font-family: $brand-face;
		font-size: 34px;
		font-weight: normal;
		line-height: 1.1;
		margin-bottom: $half-spacing-unit/2;
	}
}

.welcome-msg {
	margin: auto;
	width: 180px;
}
.job-title {
	border-top: 1px solid $base-ui-color;
	border-bottom: 1px solid $base-ui-color;
	font-size: 18px;
	margin: auto;
	padding: $half-spacing-unit/2 0;
	width: 180px;
}