/*------------------------------------*\
	$LINK
\*------------------------------------*/

.base-link {
	color: $color-dark;
	text-decoration: none;
	&:hover {
		color: $color-subtle;
	}
}

.block-list__link {
	color: $color-dark;
	text-decoration: none;
	&:hover {
		background-color: $color-dark;
		color: $color-light;
	}
}