/*------------------------------------*\
	$LINK
\*------------------------------------*/

.base-link {
	color: $color-dark;
	text-decoration: none;
	position: relative;
	&:hover {
		color: $color-subtle;
	}
}

.base-link-arrow--right {
	padding-right: 1em;
	-webkit-transition: all 0.5s ease;
	&:after {
		content: '→';
		position: absolute;
		left: 110%;
		top: 0;
		-webkit-transition: all 0.5s ease;
	}
	&:hover {
		&:after {
			left: 100%;
		}
	}
}

.block-list__link {
	color: $color-dark;
	text-decoration: none;
	&:hover {
		background-color: $color-dark;
		color: $color-light;
	}
}