/*------------------------------------*\
	POST
\*------------------------------------*/

.post {
	@include headings(1, 3){
		color: $color-delta;
		line-height: 1.2;
	}
	h1 {
		color: $color-beta;
		margin-bottom: $half-spacing-unit / 2;
		text-align: center;
	}
	h3 {
		margin-bottom: $half-spacing-unit;
	}
}
.post__header {
	background-color: #444;
	padding: $base-spacing-unit*2 $half-spacing-unit;
}
.post__date {
	color: $color-beta;
	font-size: $milli-size;
	margin: 0;
	text-align: center;
}
.post__content {
	background-color: $color-beta;
	font-size: $h6-size;
	padding: $base-spacing-unit;
	p:last-child {
		margin-bottom: 0;
	}
}
