/*------------------------------------*\
	POST
\*------------------------------------*/

.post {
	@include headings(1, 3){
		font-weight: 900;
		line-height: 1.1;
	}
	border-bottom: 2px solid $color-gamma;
	h1 {
		margin-bottom: $half-spacing-unit / 2;
		text-align: center;
	}
	h3 {
		margin-bottom: $base-spacing-unit;
	}
}
.post__header {
	border-bottom: 2px solid $color-gamma;
	font-weight: 900;
	padding: $base-spacing-unit*2 $half-spacing-unit;
}
.post__date {
	font-size: $h5-size;
	font-weight: 400;
	margin: 0;
	text-align: center;
}
.post__content {
	border-bottom: 2px solid $color-gamma;
	font-size: $h5-size;
	padding: $base-spacing-unit;
	p:last-child {
		margin-bottom: 0;
	}
}
.post__share {
	padding: $half-spacing-unit;
}
