/*------------------------------------*\
	$MAJOR-NAV
\*------------------------------------*/

.main-nav {
	margin: auto;
	width: 60%;
	@include media-query(desk) {
		width: 40%;
	}
	li {
		padding:$half-spacing-unit/2;
	}
	a {
		padding:$half-spacing-unit/2;
		margin:-$half-spacing-unit/2;
	}
	p {
		line-height: 1.3;
	}
}